*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;  ;
}

body{
    background-color: #333A73;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content:space-around;
}

.card{
    max-width: 400px;
    width: 100%;
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-color:darkblue;
    padding: 3px;
    margin-bottom: 20px;
}

/* This is the image */
.image-in{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit:cover;
    border-radius:50%;
    border: 3px solid white;
    margin-bottom: 20px;
}

.card .stars{
    margin-top: 2px;
    margin-bottom: 20px;
    color:  #333A73;
}

.card .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 0px 5px 0px 5px;
  margin-bottom: 20px;
}

.text .content{
    text-align: center;
}


.buttons .btn{
    margin: 0px 15px 0px 15px;
}